/* MIRANTIS CSS*/

#miraheader {
    margin: 0 auto;
    width: 960px;
}

#top-menu {
    height: 30px;
}

#ttopmenu {
    float: right;
    height: 20px;
    overflow: hidden;
    margin-top: 10px;
}

#ttopmenu  a {
    font-size: 13px;
    font-style: italic;
    color: #A7B6C3;
}

#ttopmenu  a:hover {
    color: #6e8598;
}

#main-menu {
    height: 47px;
    margin-top: 30px;
    text-align: right;
    position: relative;
}

a.glink {
    color: black;
    font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
    font-size: 19px;
    padding: 5px 5px 5px 12px;
    white-space: nowrap;
    text-decoration: none;
}

a.glink:hover {
    color: #d3301a;
}

.subglobalNav {
    color: black;
    position: absolute;
    font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
    font-size: 14px;
    white-space: nowrap;
    text-decoration: none;
    right: 0px;
    padding-top: 10px;
}

.subglobalNav a {
    color: black;
    text-decoration: none;
    padding: 2px 7px 2px 7px;
    margin-left: 12px;
}

.subglobalNav a:hover {
    color: #fff;
    background: #CB2E19;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-left: 12px;
    text-shadow: -1px -1px 0px #7F2114;
}

a.act {
    color: #d3301a !important;
}

a.act:hover {
    color: #fff !important;
    background: #CB2E19;
}

a.active {
    color: #d3301a;
}

#dummy {
    height: 115px;
    margin-top: 20px;
    width: 100%;
}

#footer {
    height: 115px;
    margin-top: -120px;
    background: url(../images/footer_tile.jpg) repeat-x;
    font-family: 'PT Sans Narrow', 'Arial Narrow', arial, sans-serif;
    font-size: 17px;
    line-height: 21px;
    text-shadow: 1px 1px 0px white;

}

#foottable  td {
    padding-top: 20px;
}

#footer_content {
    width: 960px;
    margin: 4px auto auto auto;
    height: 110px;
}

.fgeneral {
    color: black;
}

.fgeneralblue {
    color: #43678a;
}

.fslogan {
    font-family: 'PT Sans', arial, sans-serif;
    font-style: italic;
    color: #43678a;
    font-size: 13px;
}

#fbox {
    padding-left: 10px;
    border-left: 1px solid #d5dbe1;
}

/* MIRANTIS CSS*/